// Input
%label {
	font-size: 1.6rem;
	font-weight: 700;
	color: $darker-grayish-cyan;
}

%input-container {
	position: relative;
	margin-top: 0.6rem;
}

%input__icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 1.5rem;
}

%input {
	width: 100%;
	padding: 0.5rem 1.5rem;
	font-family: inherit;
	font-size: 2.4rem;
	font-weight: 700;
	color: $very-dark-cyan;
	text-align: right;
	background-color: $lighter-grayish-cyan;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;

	&:focus {
		outline-color: $strong-cyan;
	}

	&::placeholder {
		color: $dark-grayish-cyan;
	}
}

// Button
%btn {
	font-family: inherit;
	font-weight: 700;
	text-align: center;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;

	&:hover {
		color: $very-dark-cyan;
		background-color: $hover-btn;
	}
}

// Output
%output__line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5rem 0 2rem;
}

%output__label {
	display: flex;
	flex-direction: column;
}

%output__title {
	font-size: 1.6rem;
	font-weight: 700;
	color: $lighter-grayish-cyan;
}

%output__subtitle {
	margin-top: 0.3rem;
	font-size: 1.3rem;
	font-weight: 700;
	color: $dark-grayish-cyan;
}

%output__value {
	font-size: 3.2rem;
	font-weight: 700;
	color: $strong-cyan;
}
