header {
	.logo {
		margin: 5rem 0 3.5rem;
	}
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 3rem;
	padding: 2.5rem;
	background-color: $white;
	border-radius: 2.5rem;
	box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
		100px 100px 80px rgba(0, 0, 0, 0.07);

	.input {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		width: 100%;

		.bill,
		.tip,
		.people {
			label {
				@extend %label;
			}

			&__input {
				@extend %input;
			}
		}

		.bill,
		.people {
			&__input-container {
				@extend %input-container;
			}

			&__icon {
				@extend %input__icon;
			}
		}

		.tip {
			&__btn-container {
				margin-top: 1.7rem;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-auto-rows: 4.8rem;
				gap: 1.6rem;
			}

			.btn {
				@extend %btn;
				font-size: 2.4rem;
				color: $lighter-grayish-cyan;
				background-color: $very-dark-cyan;

				&.active {
					color: $very-dark-cyan;
					background-color: $strong-cyan;
				}
			}
		}

		.people {
			&__label-container {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.error-msg {
					font-size: 1.6rem;
					font-weight: 700;
					color: indianred;
				}
			}
		}
	}

	.output {
		width: 100%;
		padding: 2.2rem;
		background-color: $very-dark-cyan;
		border-radius: 1.5rem;

		&__line {
			@extend %output__line;
		}

		&__label {
			@extend %output__label;
		}

		&__title {
			@extend %output__title;
		}

		&__subtitle {
			@extend %output__subtitle;
		}

		&__value {
			@extend %output__value;
		}

		.btn--reset {
			@extend %btn;
			width: 100%;
			margin-top: 1.3rem;
			padding: 1rem;
			font-size: 2rem;
			color: $very-dark-cyan;
			background-color: $strong-cyan;

			&:disabled {
				color: #065d64;
				background-color: #0d686d;
				cursor: default;
			}
		}
	}
}

footer {
	margin: 1.5rem 0;
	font-size: 1.1rem;
	font-weight: 700;
	color: $dark-grayish-cyan;
	text-align: center;

	a {
		color: $darker-grayish-cyan;
	}
}
