@media screen and (min-width: 1024px) {
	main {
		flex-direction: row;
		align-items: stretch;
		gap: 5rem;
		padding: 5rem;

		.input {
			flex-basis: 50%;
			gap: 5rem;

			.tip {
				&__btn-container {
					grid-template-columns: 1fr 1fr 1fr;
				}
			}
		}

		.output {
			flex-basis: 50%;
			margin: -1.5rem -1.5rem -1.5rem 0;
			padding: 4rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&__line {
				margin: 0 0 2rem;
			}

			&__subtitle {
				font-size: 1.4rem;
			}

			&__value {
				font-size: 5rem;
			}
		}
	}

	footer {
		margin: 3rem 0;
		font-size: 1.4rem;
	}
}
