html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Space Mono', monospace;
  background-color: #c5e4e7;
}

main .input .bill label,
main .input .tip label,
main .input .people label {
  font-size: 1.6rem;
  font-weight: 700;
  color: #5e7a7d;
}

main .input .bill__input-container,
main .input .people__input-container {
  position: relative;
  margin-top: 0.6rem;
}

main .input .bill__icon,
main .input .people__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1.5rem;
}

main .input .bill__input,
main .input .tip__input,
main .input .people__input {
  width: 100%;
  padding: 0.5rem 1.5rem;
  font-family: inherit;
  font-size: 2.4rem;
  font-weight: 700;
  color: #00494d;
  text-align: right;
  background-color: #f4fafa;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

main .input .bill__input:focus,
main .input .tip__input:focus,
main .input .people__input:focus {
  outline-color: #26c0ab;
}

main .input .bill__input::-webkit-input-placeholder,
main .input .tip__input::-webkit-input-placeholder,
main .input .people__input::-webkit-input-placeholder {
  color: #7f9c9f;
}

main .input .bill__input:-ms-input-placeholder,
main .input .tip__input:-ms-input-placeholder,
main .input .people__input:-ms-input-placeholder {
  color: #7f9c9f;
}

main .input .bill__input::-ms-input-placeholder,
main .input .tip__input::-ms-input-placeholder,
main .input .people__input::-ms-input-placeholder {
  color: #7f9c9f;
}

main .input .bill__input::placeholder,
main .input .tip__input::placeholder,
main .input .people__input::placeholder {
  color: #7f9c9f;
}

main .input .tip .btn, main .output .btn--reset {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main .input .tip .btn:hover, main .output .btn--reset:hover {
  color: #00494d;
  background-color: #a1e8e0;
}

main .output__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0 2.5rem;
}

main .output__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .output__title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #f4fafa;
}

main .output__desc {
  font-size: 1.3rem;
  font-weight: 700;
  color: #7f9c9f;
}

main .output__value {
  font-size: 3rem;
  font-weight: 700;
  color: #26c0ab;
}

header .logo {
  margin: 5rem 0 3.5rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 3rem;
  padding: 2.5rem;
  background-color: white;
  border-radius: 2.5rem;
  -webkit-box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 100px 100px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

main .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  width: 100%;
}

main .input .tip__btn-container {
  margin-top: 1.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: 4.8rem;
  gap: 1.6rem;
}

main .input .tip .btn {
  font-size: 2.4rem;
  color: #f4fafa;
  background-color: #00494d;
}

main .input .tip .btn.active {
  color: #00494d;
  background-color: #26c0ab;
}

main .input .people__label-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .input .people__label-container .error-msg {
  font-size: 1.6rem;
  font-weight: 700;
  color: indianred;
  opacity: 0;
}

main .input .people__label-container .show-error-msg {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

main .output {
  width: 100%;
  padding: 2.2rem;
  background-color: #00494d;
  border-radius: 1.5rem;
}

main .output .btn--reset {
  width: 100%;
  margin-top: 1.3rem;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #00494d;
  background-color: #26c0ab;
}

main .output .btn--reset:disabled {
  color: #065d64;
  background-color: #0d686d;
  cursor: default;
}

footer {
  margin: 1.5rem 0;
  font-size: 1.1rem;
  font-weight: 700;
  color: #7f9c9f;
  text-align: center;
}

footer a {
  color: #5e7a7d;
}

@media screen and (min-width: 1024px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 5rem;
    padding: 5rem;
  }
  main .input {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    gap: 5rem;
  }
  main .input .tip__btn-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  main .output {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: -1.5rem -1.5rem -1.5rem 0;
    padding: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .output__line {
    margin: 0 0 2rem;
  }
  main .output__subtitle {
    font-size: 1.4rem;
  }
  main .output__value {
    font-size: 5rem;
  }
  footer {
    margin: 3rem 0;
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=styles.css.map */